MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/preppal
PORT=5000
JWT_SECRET=randomstringthatisnotasecret
GROQ_API_KEY=gsk_...
NODE_ENV=development
FRONTEND_URL=https://your-vercel-app.vercel.app